<h2>User list</h2>

<table>
  <tr>
    <th></th>
    <th>Display name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
		<td><%=link_to image_tag(gravatar(user.email, 40), :alt => "#{h user.login}'s Gravatar"), user %></td>
    <td><%=h user.display_name %></td>
    <td><%=link_to h(user.login), user %></td>
    <td><%=mail_to h(user.email) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
