<h2><%= @address %>'s waves</h2>

<%=link_to 'New wave', wave_path('new') %>

<% @waves.each do |wave| -%>

<% if wave.host == 'danopia.net' || true -%>
<h3><%=link_to wave.name, wave_path(wave.name) %></h3>
<% else -%>
<h3><%=link_to wave.name, domain_wave_path(wave.name, wave.host) %></h3>
<% end -%>

<p><em>Participants:</em> <%=h wave.participants.join(', ') %></p>
<% wave.playback.documents.each_key do |doc_id| %>
<p><em><%=h doc_id %>:</em> <%=h wave.playback.documents[doc_id].select{|item| item.is_a? String}.join(' ') %></p>
<% end %>

<p>Have <%=h wave.real_deltas.size %> updates</p>

<% end -%>
