<h2><%= @address %>'s waves</h2>

<%=link_to 'New wave', wave_path('new') %>

<% @waves.each do |wave| -%>

<% if wave.local? || true -%>
<h3><%=link_to wave.name, wave_path(wave.name) %></h3>
<% else -%>
<h3><%=link_to wave.name, domain_wave_path(wave.name, wave.server.name) %></h3>
<% end -%>

<p><em>Participants:</em> <%=h wave.participants.join(', ') %></p>
<% wave.blips.flatten.each do |blip| %>
<p><em><%=h blip.name %>:</em> <%=h blip.select{|item| item.is_a? String}.join(' ') %></p>
<% end %>

<p>Have <%=h wave.deltas.size %> deltas</p>

<% end -%>
