<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ruby on Sails - <%= controller.controller_name %>: <%= controller.action_name %> - Sailing the Waves of Google</title>
  <%= stylesheet_link_tag 'base' %>
  <%#= javascript_include_tag 'prototype', 'effects' %>
</head>
<body>

<div id="header">
  <h1><%=icon_tag 'ruby_go' %> Ruby on Sails - Sailing the Waves of Google</h1>

  <ul>
    <li id="active" class="first"><a href="/">Home</a></li>
    <li><a href="/waves">Waves</a></li>
    <li><a href="/servers">Servers</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/account">My profile</a></li>
  </ul>
</div>

<% flash.each_pair do |key, value| -%>
<p class="<%= key %> box"><%= value %></p>
<% end -%>

<div id="content">
<%= yield %>
</div>

</body>
</html>
