<h2>Wave: <%=h @wave.name %> (from <%=h @wave.host %>)</h2>

<% unless @wave.complete? -%>
<div class="error box">This wave currently has incomplete data. <%= @wave.complete? %></div>
<% end -%>

<p><em>Participants:</em>
<% @wave.participants.each do |address| -%>
<%=mail_to address %> (<%=link_to 'remove', wave_remove_path(@wave.name, address) %>)
<% end -%>

<%= form_tag wave_add_path(@wave.name) %>
<%= text_field_tag "who" %><%= submit_tag "Add participant" %>
</form>

</p>

<hr/>
<p><strong><a name="contents">Contents</a></strong></p>
<% @wave.contents.each do |item| -%>
<% if item.is_a?(Element) %>
<p>&lt;<%=h item.attributes['by'] %>&gt;
<% elsif item.is_a?(String) %>
<%=h item %></p>
<% end -%>
<% end -%>

<%= form_tag wave_update_path(@wave.name) %>
	<%= text_field_tag "message" %>
	<%= submit_tag "Add FedOne line" %>
</form>

<hr/>
<p><strong>History</strong></p>

<% @wave.real_deltas.each do |delta| %>

<p><%=h delta.author %> added <a name="r<%=h delta.version %>">r<%=h delta.version %></a>:

<% delta.operations.each do |operation| -%>
<% if operation.is_a?(AddUserOp) || operation.is_a?(RemoveUserOp) -%>
<em><%=h operation.to_s %></em>
<% elsif operation.is_a? MutateOp -%>
<%=h operation.to_s %>
<% end -%>
</p>
<% end -%>

<% end -%>
