<h2>Wave: <%=h @wave.name %> (from <%=h @wave.host %>)</h2>

<p><em>Participants:</em>
<% @wave.participants.each do |address| -%>
<%=mail_to address %> (<%=link_to 'remove', wave_remove_path(@wave.name, address) %>)
<% end -%>
</p>

<% @wave.real_deltas.each do |delta| %>
<hr/>

<p><%=h delta.author %> commited <a name="r<%=h delta.version %>">r<%=h delta.version %></a>:</p>

<% delta.operations.each do |operation| -%>
<% if operation.is_a?(AddUserOp) || operation.is_a?(RemoveUserOp) -%>
<p><em><%=h operation.to_s %></em></p>
<% elsif operation.is_a? MutateOp -%>
<blockquote><p><%=h operation.to_s %></em></p></blockquote>
<% end -%>
<% end -%>

<!--p><%=h delta.operations.first.inspect %></p-->

<% end -%>

<hr/>

<%= form_tag wave_update_path(@wave.name) %>
<%= text_field_tag "message" %>
<br/><%= submit_tag "Add" %>
</form>

<p><%#=h @wave.digest %></p>
