<h2>Login to Sails</h2>

<% form_for @user_session, :url => login_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>

<p>Don't have an account? You might want to try <%=link_to 'creating one', new_account_path %>.</p>
