<div style="float:left; margin: 1em;">
  <%=image_tag gravatar(@user.email, 150), :alt => "#{h @user.login}'s Gravatar" %>
</div>

<p>
  <b>Display name:</b>
  <%=h @user.display_name %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Wave address:</b>
  <%=h @user.login %>@<%=h @remote.provider.domain %>
</p>

<p>
  <b>Email address:</b>
  <%=mail_to @user.email %>
</p>

<p>
  
</p>

<br clear="both"/>

<%= link_to 'Back', users_path %>
